@import "../../styles/variables";
@import "../../styles/mixins";

.block_profile {
  width: 86vw;
  margin: 20px auto;
}

.block1_info {
  height: 380px;
  position: relative;
  background-color: $dark-color;
  border-radius: 60px;
  display: flex;
  align-items: center;

  .settings {
    position: absolute;
    top: 50px;
    right: 50px;

    img {
      width: 30px;
    }
  }

  .avatar {
    @include center();
    margin: 0 90px;
    img {
      width: 280px;
      border-radius: 100%;
    }
  }

  .block1_info__info {
    width: 100%;
    h1 {
      font-size: $font-large;
    }

    .aboutUser {
      width: 90%;
      min-height: 60px;

      margin: 18px 0 26px 0;
    }

    .level {
      margin: 0 0 12px 0;
    }

    .experience_block {
      display: flex;
      align-items: center;
      gap: 10px;

      .brogressBar_block {
        width: 80%;
      }

      img {
        width: 28px;
      }
    }
  }
}

.block2_info {
  margin: 12px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  .fireStreak_info {
    height: 90px;
    border-radius: 20px;
    background-color: $dark-color;
    display: flex;
    align-items: center;
    gap: 56px;

    .text {
      width: 76%;
      margin: 0 10px 0 0;
    }

    .items {
      margin: 0 0 0 60px;
      display: flex;
      gap: 32px;

      img {
        width: 38px;
      }

      h1 {
        font-size: $font-miniLarge;
      }

      .flames,
      .ice {
        display: flex;
        align-items: center;
        gap: 12px;
      }
    }
  }

  .additional_info {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .chart {
    border-radius: 20px;
    width: 55%;
    background-color: $dark-color;
    display: flex;
    align-items: center;
    .chart_wrapper {
      padding: 0 0 0 90px;
      width: 80%;
      height: 90%;
      display: flex;
      align-items: center;
    }
  }
}

.maininfo {
  display: flex;
  gap: 1%;

  .chart {
    width: 54%;
  }
}

.medals {
  width: 45%;

  .content {
    background-color: $dark-color;
    @include center();
    gap: 26px;
    border-radius: 20px;
    height: 260px;
    margin: 0 0 12px 0;
    .medal {
      width: 160px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 18px;
      img {
        width: 100px;
      }
      p {
        font-size: $font-small;
        width: 100%;
        text-align: center;
      }
    }
  }
}

.text_withoutMedals{
  width: 80%;
  text-align: center;
}

@media (max-width: 1417px) {
  .block1_info {
    height: 340px;

    .avatar {
      margin: 0 60px;
      img {
        width: 260px;
      }
    }

    .block1_info__info {
      width: 80%;
    }

    .settings {
      top: 30px;
      right: 30px;

      img {
        width: 26px;
      }
    }
  }

  .block2_info .chart .chart_wrapper {
    padding: 0 0 0 30px;
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 1180px) {
  .block1_info {
    height: 300px;

    .avatar {
      margin: 0 40px;
      img {
        width: 210px;
      }
    }

    .block1_info__info {
      width: 68%;
    }

    .settings img {
      width: 20px;
    }
  }

  .medals {
    width: 45%;

    .content {
      height: 180px;
    }

    .content .medal img {
      width: 80px;
    }
  }
}

@media (max-width: 1035px) {
  .block1_info {
    .avatar {
      img {
        width: 200px;
      }
    }

    .block1_info__info {
      width: 56%;

      .experience_block {
        img {
          width: 22px;
        }
      }
    }

    .settings img {
      width: 20px;
    }
  }

  .block2_info .fireStreak_info .items img {
    width: 32px;
  }

  .maininfo {
    display: flex;
    flex-direction: column;

    .chart {
      width: 100%;
    }
  }

  .medals {
    width: 100%;

    .content .medal img {
      width: 80px;
    }
  }

  .block2_info .chart {
    border-radius: 20px;
    background-color: $dark-color;
    display: flex;
    align-items: center;
    justify-content: center;
    .chart_wrapper {
      padding: 20px 0 0 40px;
      width: 70%;
      height: 220px;
      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: 862px) {
  .block2_info .chart .chart_wrapper {
    padding: 20px 0 0 30px;
    width: 90%;
  }
}

@media (max-width: 772px) {
  .block1_info {
    height: 280px;
    border-radius: 30px;

    .avatar {
      img {
        width: 180px;
      }
      margin: 0 20px;
    }

    .block1_info__info {
      width: 56%;
      .aboutUser {
        width: 90%;
      }
    }

    .settings img {
      width: 18px;
    }
  }

  .block2_info .fireStreak_info .items {
    margin: 0 0 0 40px;
  }

  .block2_info .fireStreak_info .items img {
    width: 26px;
  }

  .block2_info .fireStreak_info .text {
    width: 100%;
  }

  .medals .content .medal img {
    width: 70px;
  }
}

@media (max-width: 654px) {
  .block2_info .chart .chart_wrapper {
    width: 100%;
    height: 190px;
  }
}

@media (max-width: 600px) {
  .block1_info {
    flex-direction: column;
    height: 280px;
    .avatar {
      img {
        margin: 18px 0;
        width: 120px;
      }
      margin: 0 20px;
    }

    .block1_info__info {
      width: 90%;
      .aboutUser {
        margin: 10px 0;
      }
    }

    .settings {
      top: 20px;
      right: 20px;
      img {
        width: 16px;
      }
    }
  }

  .block2_info .fireStreak_info {
    height: 110px;
    .text {
      margin: 0 20px 0 0;
    }

    .items {
      flex-direction: column;
      gap: 14px;
      .flames,
      .ice {
        display: flex;
        align-items: center;
        gap: 12px;
      }
    }
  }
}

@media (max-width: 479px) {
  .block1_info {
    height: 320px;
    .avatar {
      margin: 0 20px;
    }

    .block1_info__info {
      .aboutUser {
        margin: 10px 0;
        width: 99%;
      }

      .experience_block {
        img {
          width: 16px;
        }
      }
    }

    .settings img {
      width: 16px;
    } 
  }
  .block2_info .fireStreak_info {
    gap: 24px;
  }

  .block2_info .chart .chart_wrapper {
    padding: 20px 0 0 0;
  }

  .medals .content {
    height: 140px;
    gap: 0px;

    .medal {
      width: 110px;
      img {
        width: 50px;
      }
    }
  }

  .block2_info .fireStreak_info {
    height: 150px;
  }
}

@media (max-width: 339px){
  .block1_info {
    height: 300px;

    .fireStreak_info {
      height: 180px;
    }
  }
}