$base-color: rgb(79, 87, 129);
$dark-color: #2f3864;
$darkShadow-color: #232c55;
$accent-color: #7ad3f9;
$accentShadow-color: rgb(41, 148, 194);
$perfect-color: rgb(248, 188, 59);
$red-color: #f14747;

$font-small: clamp(11px, 0.9vw, 15px);
$font-medium:  clamp(13px, 0.95vw, 20px);
$font-miniLarge: clamp(16px, 1.4vw, 38px);
$font-large: clamp(24px, 2.2vw, 64px);
$font-xlarge:  clamp(29px, 3.4vw, 86px);

$font-weight: 300;
$transition: 0.2s;

