$base-color: rgb(79, 87, 129);
$dark-color: rgb(47, 56, 100);
$darkShadow-color: #232c55;
$accent-color: #7ad3f9;
$accentShadow-color: rgb(41, 148, 194);
$perfect-color: rgb(248, 188, 59);
$red-color: #f14747;



$font-small: clamp(10px, 0.75vw, 14px);         // для второстепенного текста, подписей
$font-medium: clamp(13px, 1vw, 18px);           // обычный текст, кнопки
$font-miniLarge: clamp(16px, 1.4vw, 28px);      // заголовки 3-го уровня, важные кнопки
$font-large: clamp(26px, 2vw, 42px);            // заголовки 2-го уровня
$font-xlarge: clamp(28px, 3vw, 60px);

$font-weight: 300;
$transition: 0.2s;

