$base-color: #4f5781;
$dark-color: rgb(47, 56, 100);
$darkShadow-color: #232c55;
$accent-color: rgb(122, 211, 249);
$accentShadow-color: rgb(41, 148, 194);
$perfect-color: rgb(248, 188, 59);
$red-color: #df2e2e;

$font-small: 13px;
$font-medium: 16px;
$font-miniLarge: 32px;
$font-large: 42px;
$font-xlarge: 64px;
$font-weight: 300;
$transition: 0.2s;
