@import "./_variables";
@import "./_mixins";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html {
  scroll-behavior: smooth;
}

::selection{
  background-color: $accent-color;
}

*{
  padding: 0;
  margin: 0;
  font-weight: $font-weight;
  font-size: $font-medium;
}

body {
  margin: 0;
  background-color: $base-color;
  color: white;
  font-family: Inter;
  font-weight: $font-weight;
  font-size: $font-medium;
}

p {
  line-height: 150%;
}

h1 {
  font-weight: $font-weight;
}

input:-webkit-autofill {
  background-color: transparent !important; // Убирает жёлтый фон
  box-shadow: 0 0 0px 1000px $base-color inset !important; // Меняет фон на белый (или другой нужный цвет)
  color: black !important; // Убедись, что текст виден
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: transparent !important;
  box-shadow: 0 0 0px 1000px $base-color  inset !important;
  -webkit-text-fill-color: rgb(255, 255, 255) !important; // Меняет цвет текста
  border: none;
}