@import "../../styles/variables";
@import "../../styles/mixins";

.block_settingsProfile {
  h1 {
    font-size: $font-large;
    margin: 0 0 52px 0;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 36px;

  .nickname {
    display: flex;
    align-items: flex-start;
    p {
      width: 16%;
    }
    input {
      width: 84%;
    }
  }
  .about {
    display: flex;
    p {
      width: 16%;
    }
    textarea {
      width: 84%;
    }
  }
}

.avatar {
  display: flex;
  p {
    width: 16%;
  }
  .changeAvatar_block {
    width: 84%;
    height: 300px;
    background-color: $base-color;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    .content {
      margin: 0 100px 0 0;

      .avatarUpload {
        display: none;
      }

      img {
        width: 200px;
        height: 200px;
        border-radius: 100%;
      }
    }
  }
}
.btns_avatar {
  margin: 26px 0 0 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.blocked {
  color: $dark-color;
}
