@import "../../styles/variables";
@import "../../styles/mixins";

.block_settingsProfile {
  h1 {
    font-size: $font-large;
    margin: 0 0 52px 0;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 36px;

  .nickname {
    display: flex;
    align-items: flex-start;
    p {
      width: 16%;
    }
    input {
      width: 84%;
    }
  }
  .about {
    display: flex;
    p {
      width: 16%;
    }
    textarea {
      width: 84%;
    }
  }
}

.error {
  padding: 40px 0;
  border-radius: 20px;
  @include center();
  background-color: $red-color;
  width: 100%;
  margin: 0 0 40px 0;
}

.success {
  width: 100%;
  padding: 40px 0;
  border-radius: 20px;
  @include center();
  background-color: $accent_color;
  margin: 0 0 40px 0;
}

.avatar {
  display: flex;

  > p {
    width: 16%;
  }

  .changeAvatar_block {
    width: calc(84% + 16px);
    height: 300px;
    background-color: $base-color;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    .content {
      margin: 0 100px 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      .avatarUpload {
        display: none;
      }

      img {
        width: 200px;
        height: 200px;
        border-radius: 100%;
      }
    }
  }
}
.btns_avatar {
  margin: 26px 0 0 0;
  display: flex;
  align-items: center;
  gap: 26px;

  label,
  p {
    cursor: pointer;
  }
}

.blocked {
  color: $dark-color;
}

@media (max-width: 1185px) {
  .avatar .changeAvatar_block {
    height: 220px;
    .content img {
      width: 160px;
      height: 160px;
    }
  }
}

@media (max-width: 948px) {
  .avatar {
    > p {
      width: 16%;
    }

    .changeAvatar_block {
      height: 190px;
      .content {
        margin: 0 60px 0 0;
        img {
          width: 120px;
          height: 120px;
        }
      }
    }
  }
}

@media (max-width: 760px) {
  form {
    .about p,
    .nickname p {
      width: 25%;
    }
  }

  .avatar {
    > p {
      width: 25%;
    }

    .changeAvatar_block {
      height: 170px;
      .content {
        margin: 0 30px 0 0;
        img {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}

@media (max-width: 542px) {
  form {
    .about p,
    .nickname p {
      width: 42%;
    }
  }

  .avatar {
    > p {
      width: 42%;
    }

    .changeAvatar_block {
      height: 140px;
      display: flex;
      @include center();
      .content {
        margin: 0;
        img {
          width: 70px;
          height: 70px;
        }

        .btns_avatar {
          gap: 10px;
        }
      }
    }
  }
}

@media (max-width: 347px) {
  form {
    .about p,
    .nickname p {
      width: 24%;
    }

    .about,
    .nickname {
      display: flex;
      gap: 10px;
    }
  }

  .avatar {
    display: flex;
    gap: 10px;
    > p {
      width: 24%;
    }

    .changeAvatar_block .content img {
      width: 50px;
      height: 50px;
    }
  }
}
