@import "../../styles/variables";
@import "../../styles/mixins";

.ProgressBar{
    background-color: #fff;
    height: 10px;
    border-radius: 100px;

    div{
        height: 10px;
        border-radius: 100px;
        background-color: $accent-color;
    }
}