.env

# Игнорируем кеши и временные файлы
__pycache__/
*.pyc
*.pyo
*.sqlite3

# Игнорируем файлы редакторов
.vscode/
.idea/

# Игнорируем логи и временные файлы Django
*.log
staticfiles/
media/

# Environment files
.env