@import "../../styles/variables";
@import "../../styles/mixins";

.block_inputs {
  @include center();
  flex-direction: column;
  gap: 20px;
  width: 100%;

  > a {
    color: white;
    text-decoration: none;
    width: 100%;
  }

  .total_time {
    border: 2px solid $base-color;
    height: 60px;
    width: 100%;
    @include center();
    border-radius: 20px;
  }
}

.field {
  display: flex;
  width: 100%;
  gap: 12px;
  justify-content: space-between;

  .input_task {
    width: 100%;
    > input {
      width: 100%;
    }
  }

  .hours {
    opacity: 1;
  }

  .minutes {
    opacity: 1;
  }
}

.time_inputes {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 0 0 0 20px;
  > div {
    display: flex;
    align-items: flex-end;
    gap: 6px;

    p {
      margin: 0;
      width: max-content;
    }
    input {
      padding: 0;
      text-align: center;
      width: 60px;
    }
  }
}

.error {
  padding: 40px 0;
  border-radius: 20px;
  @include center();
  background-color:$red-color;
  width: 100%;
  text-align: center;
}

.success{
  width: 100%;
  padding: 40px 0;
  border-radius: 20px;
  @include center();
  background-color: $accent_color;
}

@media (max-width: 657px) {
  .time_inputes {
    gap: 6px;
    > div input {
      width: 40px;
    }
  }

  .field {
    gap: 0px;
  }
}

@media (max-width: 439px) {
  .time_inputes {
    gap: 6px;
    > div input {
      width: 30px;
    }
  }

  .block_inputs .total_time p{
    width: 190px;
    text-align: center;
  }
}


@media (max-width: 346px) {
  .time_inputes {
    > div input {
      width: 24px;
    }
  }

}
