@import "../../styles/variables";
@import "../../styles/mixins";

.login_block {
  margin: 40px 0 240px 0;
  @include center();
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $dark-color;
    border-radius: 20px;
    width: 600px;

    h1 {
      font-size: $font-large;
      margin: 30px 0 26px 0;
    }

    form {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 20px;
      flex-direction: column;

      .error {
        width:500px;
        padding: 40px 7px;
        border-radius: 20px;
        text-align: center;
        @include center();
        background-color:$red-color;
      }

      div {
        display: flex;
        flex-direction: column;
        gap: 10px;

        p {
          margin: 0;
        }

        input {
          width: 500px;
        }
      }

      .btn_block {
        width: 500px + 14px;
        margin: 30px 0 40px 0;

        a {
          color: white;
          text-decoration: none;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 660px) {
  .login_block {
    .content {
      width: 300px;

      form {
        div {
          input {
            width: 230px;
          }
        }

        .btn_block {
          width: 230px + 14px;
        }
      }
    }
  }

  .login_block .content form {
    gap: 14px;

    .error {
      width: 230px;
    }
  }
}
