@import "../../styles/variables";
@import "../../styles/mixins";

.modal_back {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  @include center();

  background-color: rgb(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity $transition;
}

.modal_block {
  background-color: $base-color;
  border-radius: 20px;
  position: relative;

  .cross {
    position: absolute;
    cursor: pointer;
    right: 40px;
    top: 40px;

    width: 20px;
  }
}

.conteiner {
  padding: 50px 40px 40px 40px;

  h1 {
    font-size: $font-large;
    margin: 0 0 40px 0;
  }

  .experience_now {
    .experience_block {
      display: flex;
      align-items: center;
      gap: 10px;
      position: relative;

      img:first-child {
        width: 26px;
      }

      .progressbar_block {
        width: 100%;
      }
    }
  }
}

.arrow_down {
  width: 50px;
  position: absolute;
  top: 38px;
}

.experience_soon {
  margin: 76px 0 0 0;
  display: flex;
  justify-content: space-between;

  .info {
    background-color: $dark-color;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 60%;
    height: 160px;

    p {
      margin: 10px 0;
      width: 80%;
    }
  }

  .awards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    .award {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 36px;
      }
    }
  }
}

@media (max-width: 1218px) {
  .conteiner {
    padding: 40px 30px 30px 30px;

    h1 {
      margin: 0 0 30px 0;
    }

    .experience_now .experience_block img:first-child {
      width: 22px;
    }
  }

  .arrow_down {
    width: 42px;
    position: absolute;
    top: 38px;
  }

  .experience_soon {
    .info {
      height: 120px;
    }

    .awards {
      gap: 28px;

      .award img {
        width: 28px;
      }
    }
  }

  .conteiner {
    padding: 50px 40px 40px 40px;

    h1 {
      font-size: $font-large;
      margin: 0 0 40px 0;
    }
  }
}

@media (max-width: 1035px) {
  .conteiner {
    padding: 40px 30px 30px 30px;

    h1 {
      margin: 0 0 24px 0;
    }

    .experience_now .experience_block img:first-child {
      width: 20px;
    }
  }

  .arrow_down {
    width: 36px;
    position: absolute;
    top: 32px;
  }

  .experience_soon {
    margin: 56px 0 0 0;

    .info {
      height: 100px;
    }
    .awards {
      gap: 22px;

      .award img {
        width: 24px;
      }
    }
  }
}

@media (max-width: 465px) {
  .conteiner {
    padding: 26px 16px 16px 16px;

    h1 {
      margin: 0 0 20px 0;
    }

    .experience_now .experience_block {
      img:first-child {
        width: 18px;
      }
    }
  }

  .arrow_down {
    width: 32px;
    position: absolute;
    top: 27px;
  }

  .experience_soon {
    margin: 46px 0 0 0;
    gap: 12px;
    justify-content: normal;

    .info {
      border-radius: 14px;
      width: 46%;

      p{
        width: 100px;
        padding: 0 10px;
      }
    }
    .awards {
      gap: 20px;
      .award img {
        width: 22px;
      }
    }
  }

  .modal_block .cross {
    right: 20px;
    top: 20px;

    width: 16px;
  }
}
