@import "../../styles/variables";
@import "../../styles/mixins";

.welcome_block {
  font-weight: $font-weight;
  padding: 0 90px;
  margin: 100px 0 0 0;
  display: flex;
  justify-content: center;

  .text {
    width: 55%;
    h1 {
      font-weight: $font-weight;
      font-size: $font-xlarge;
      margin: 0 0 24px;
    }

    p {
      width: 80%;
      margin: 0 0 70px 0;
    }

    a {
      color: white;
      text-decoration: none;
      display: block;
      width: max-content;
    }
  }

  .image {
    width: 45%;
    img {
      width: 100%;
    }
  }

  @media (max-width: 1254px) {
    position: relative;
    justify-content: flex-start;
    .text {
      width: 70%;
    }

    .image {
      position: absolute;
      right: 10px;
      top: 50px;
      width: 40%;
      img {
        width: 100%;
      }
    }
  }

  @media (max-width: 1166px) {
    .image {
      width: 500px;
      right: 10px;
      top: 120px;
    }

    .text {
      width: 90%;
    }
  }

  @media (max-width: 916px) {
    padding: 0 50px;
  }

  @media (max-width: 835px) {
    padding: 0 50px;
    .image {
      width: 330px;
      right: 10px;
      top: 160px;
    }

    .text {
      width: 100%;
    }
  }

  @media (max-width: 695px) {
    margin: 70px 0 0 0;
    .image {
      display: none;
    }
  }

  @media (max-width: 338px) {
    .text p {
      width: 92%;
    }
  }
}

.pluses_block {
  margin: 140px 0 100px 0;
  background-color: $dark-color;
  padding: 100px 90px 200px 90px;

  clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);

  h1 {
    font-size: $font-large;
    margin: 0 0 40px 0;
  }

  p {
    width: 56vw;
  }

  @media (max-width: 1254px) {
    margin: 140px 0 60px 0;
    padding: 100px 90px 120px 90px;

    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    p {
      width: 70vw;
    }
  }

  @media (max-width: 1120px) {
    margin: 140px 0 0px 0;
    padding: 80px 50px;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  }

  @media (max-width: 864px) {
    padding: 50px 80px 70px 80px;
    p {
      width: 100%;
    }
  }

  @media (max-width: 664px) {
    margin: 60px 0 0px 0;
    padding: 50px 30px 90px 30px;
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
  }

  @media (max-width: 408px) {
    margin: 60px 0 0px 0;
  }
}

.steps_block {
  margin: 60px 140px;

  > h1 {
    font-size: $font-xlarge;
    margin: 0 0 90px 0;
  }

  .cards {
    display: flex;
    justify-content: space-between;
    position: relative;

    .card:last-child {
      margin-top: -60px;
      background-color: $accent-color;
      h1,
      p {
        font-weight: 500;
      }

      &:hover {
        box-shadow: 0px 10px 0px $accentShadow-color;
      }
    }

    .card {
      z-index: 2;
      width: 23vw;
      height: 500px;
      border-radius: 20px;
      background-color: $dark-color;
      transition: $transition;
      position: relative;
      top: 0px;

      &:hover {
        top: -10px;
        box-shadow: 0px 10px 0px $darkShadow-color;
      }

      .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        h1 {
          font-size: $font-large;
          margin: 80px 0 30px 0;
          display: inline-block;
        }
        p {
          text-align: center;
          width: 260px;
        }
      }
    }

    img {
      position: absolute;
      width: 360px;
    }

    .awards {
      width: 540px;
      top: -540px;
      right: -140px;
    }

    .arrow1 {
      top: 520px;
      right: 870px;
    }

    .arrow2 {
      width: 200px;
      top: -240px;
      right: 440px;
    }
  }

  @media (max-width: 1705px) {
    .cards {
      .arrow1 {
        top: 520px;
        right: 770px;
      }

      .arrow2 {
        top: -240px;
        right: 400px;
      }
    }
  }

  @media (max-width: 1555px) {
    .cards {
      .arrow1 {
        top: 520px;
        right: 670px;
        width: 280px;
      }

      .arrow2 {
        top: -210px;
        right: 350px;
        width: 180px;
      }

      .awards {
        width: 480px;
        top: -500px;
        right: -140px;
      }
    }
  }

  @media (max-width: 1430px) {
    .cards {
      .arrow1,
      .arrow2 {
        display: none;
      }

      .awards {
        width: 480px;
        top: -500px;
        right: -140px;
      }
    }
  }

  @media (max-width: 1270px) {
    .cards {
      .awards {
        width: 380px;
        top: -360px;
        right: -140px;
      }
      .card {
        height: 300px;
        width: 23vw;

        .content {
          p {
            text-align: center;
            width: 80%;
          }
        }
      }
    }
  }

  @media (max-width: 1120px) {
    padding: 60px 80px 200px 80px;
    margin: 0;

    .cards {
      .awards {
        width: 450px;
        top: 140px;
        right: -80px;
      }

      .card:last-child {
        margin-top: 26px;
        background-color: $accent-color;
        width: 100%;

        p {
          width: 30vw;
        }
      }

      display: flex;
      flex-wrap: wrap;

      .card {
        .content h1 {
          margin: 50px 0 20px 0;
        }

        height: 200px;
        width: 48%;
      }
    }
  }

  @media (max-width: 793px) {
    padding: 60px 40px 100px 40px;
    margin: 0;
    .cards {
      gap: 8px;
      .awards {
        width: 350px;
        top: 410px;
        right: -50px;
      }

      .card:last-child {
        background-color: $accent-color;
        width: 100%;
        margin-top: 12px;
      }

      display: flex;
      flex-wrap: wrap;

      .card {
        width: 100%;
        .content {
          p {
            width: 50vw;
          }
        }
      }
    }
  }

  @media (max-width: 635px) {
    .awards {
      display: none;
    }
  }
}

.video_block {
  h1 {
    margin: 200px 90px 100px 140px;
    font-size: $font-xlarge;
  }

  .video {
    @include center();
    iframe {
      width: calc(100vw - 300px);
      height: 800px;
      border-radius: 40px;
    }
  }

  .btn_block {
    margin: 60px 0 100px 140px;
    a {
      color: white;
      text-decoration: none;
      display: block;
      width: max-content;
    }
  }

  @media (max-width: 1600px) {
    .video {
      iframe {
        height: 650px;
      }
    }
  }

  @media (max-width: 1362px) {
    h1 {
      margin: 100px 90px 100px 140px;
    }
    .video {
      iframe {
        height: 500px;
      }
    }
  }

  @media (max-width: 1145px) {
    h1 {
      margin: 0px 90px 100px 140px;
    }
    .video {
      iframe {
        width: calc(100vw - 180px);
        height: 400px;
      }
    }

    .btn_block {
      margin: 60px 0 100px 90px;
    }
  }

  @media (max-width: 793px) {
    h1 {
      margin: 0 0 46px 50px;
    }
    .video {
      iframe {
        border-radius: 20px;
        width: calc(100vw - 100px);
        height: 350px;
      }
    }

    .btn_block {
      margin: 60px 0 100px 50px;
    }
  }

  @media (max-width: 600px) {
    .video {
      iframe {
        width: calc(100vw - 100px);
        height: 260px;
      }
    }
  }

  @media (max-width: 475px) {
    .video {
      iframe {
        width: calc(100vw - 100px);
        height: 160px;
      }
    }
  }
}
