@import "../../styles/variables";
@import "../../styles/mixins";

.modal_back {
  background-color: rgb(0, 0, 0, 0.3);
  z-index: 100;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: opacity $transition;

  @include center();
}

.modal_block {
  background-color: $base-color;
  border-radius: 20px;
  position: relative;

  .cross {
    position: absolute;
    cursor: pointer;
    right: 40px;
    top: 40px;
    width: 20px;
  }
}

.conteiner {
  padding: 60px 30px 30px 30px;
  display: flex;
  gap: 16px;
  align-items: center;

  h1 {
    margin: 10px 0 0 0;
    font-size: $font-large;
  }
}

.btns_block {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 36px 0 0 0;
}

.tasksContent {
  background-color: $dark-color;
  padding: 40px 0;
  border-radius: 20px;

  .loading {
    margin: 120px 60px;
  }

  .task {
    > div {
      display: block;
      padding: 24px 90px 24px 40px;
      // border-bottom: 2px solid $dark-color;
      text-decoration: none;
      color: white;
      transition: $transition;
      cursor: pointer;
      &:hover {
        background-color: $darkShadow-color;
        // border-bottom: 2px solid $accent-color;
      }
    }
  }
}

.active {
  background-color: $darkShadow-color;
}

.edit_block {
  .info {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 14px;
    .text,
    .time {
      background-color: $dark-color;
      padding: 40px;
      border-radius: 20px;
      text-align: center;
      justify-content: center;
      display: flex;
      gap: 10px;

      div{
        display: flex;
        align-items: end;
        gap: 6px;
      }
    }

    .btns {
      width: 100%;
      display: flex;
      gap: 10px;
      flex-direction: column;
      button {
        width: 100%;
      }
    }
  }
}

.instruction {
  height: 200px;
  padding: 0 26px;
  width: 20vw;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  p a {
    color: $accent-color;
    text-decoration: none;
  }
}

@media (max-width: 699px) {
  .conteiner h1 {
    width: 200px;
  }
}

@media (max-width: 984px) {
  .tasksContent .task div {
    padding: 16px 70px 16px 32px;
  }

  .edit_block .info {
    gap: 8px;
    width: 300px;

    .text,
    .time {
      background-color: $dark-color;
      padding: 30px;
    }
  }

  .instruction {
    height: 110px;
    padding: 0 20px;
  }
}

@media (max-width: 674px) {
  .conteiner {
    padding: 30px 20px 20px 20px;
  }

  .modal_block .cross {
    right: 20px;
    top: 20px;
    width: 16px;
  }

  .tasksContent .task div {
    padding: 16px 60px 16px 32px;
  }

  .edit_block .info {
    width: 270px;

    .text,
    .time {
      background-color: $dark-color;
      padding: 26px;
    }
  }
}

@media (max-width: 538px) {
  .tasksContent .task div {
    padding: 16px 50px 16px 22px;
  }

  .edit_block .info {
    width: 220px;

    .text,
    .time {
      background-color: $dark-color;
      padding: 20px;
    }
  }

  .instruction {
    height: 90px;
    padding: 0 12px;
  }
}

@media (max-width: 431px) {
  .conteiner {
    gap: 10px;
  }

  .tasksContent {
    padding: 20px 0;
    .task div {
      padding: 16px 26px 16px 14px;
    }
  }

  .edit_block .info {
    width: 200px;

    .text,
    .time {
      background-color: $dark-color;
      padding: 16px;

    }
  }

  .instruction {
    height: 110px;
    padding: 0 16px;
  }
}

@media (max-width: 365px) {
  .conteiner {
    gap: 10px;
  }

  .tasksContent {
    padding: 20px 0;
    .task div {
      padding: 14px 20px 14px 14px;
    }
  }

  .edit_block .info {
    width: 154px;

    .text,
    .time {
      background-color: $dark-color;
      padding: 12px;
    }
  }
}
