@import "../../styles/variables";
@import "../../styles/mixins";

.block_settingsTasksFormat2 {
  > a {
    color: white;
    text-decoration: none;
  }
}

.days {
  display: flex;
  align-items: center;
  background-color: $dark-color;
  border-radius: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 52px 0;
  align-items: flex-start;
}

.block_inputs {
  margin: 34px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  p {
    margin: 0;
    text-align: left;
  }

  .total_time {
    border: 2px solid $base-color;
    height: 60px;
    @include center();

    border-radius: 20px;
  }

  .field {
    display: flex;
    gap: 12px;

    input {
      width: 320px;
    }

    .inp_time {
      display: flex;
      align-items: flex-end;
      gap: 6px;

      p {
        margin: 0;
        width: max-content;
      }
      input {
        padding: 0;
        text-align: center;
        width: 60px;
      }
    }

    .hours {
      opacity: 1;
    }

    .minutes {
      opacity: 1;
    }
  }
}

@media (max-width: 1746px) {
  .block_inputs .field input {
    width: 220px;
  }
}

@media (max-width: 1477px) {
  .block_inputs .field input {
    width: 170px;
  }

  .block_inputs {
    margin: 34px;
  }
}

@media (max-width: 1477px) {
  .block_inputs .field input {
    width: 140px;
  }

  .block_inputs {
    margin: 26px;
    gap: 18px;
  }
}

@media (max-width: 1132px) {
  .block_inputs .field input {
    width: 110px;
  }

  .block_inputs {
    gap: 12px;
  }
}


@media (max-width: 1051px) {
  .block_inputs .field input {
    width: 100px;
  }

  .block_inputs {
    margin: 22px;

    .field {
      gap: 6px;
      .inp_time input {
        width: 40px;
      }
    }
  }
}

@media (max-width: 921px) {
  .block_inputs .field input {
    width: 160px;
  }

  .block_inputs {
    margin: 22px;

    .field {
      gap: 6px;
      .inp_time input {
        width: 40px;
      }
    }
  }
}

@media (max-width: 864px) {
  .block_inputs .field input {
    width: 110px;
  }
}

@media (max-width: 738px) {
  .block_inputs .field input {
    width: 200px;
  }
}

@media (max-width: 548px) {
  .block_inputs .field input {
    width: 190px;
  }
}

@media (max-width: 466px) {
  .block_inputs .field input {
    width: 160px;
  }

  .block_inputs {
    margin: 16px 0;

    .field {
      .inp_time input {
        width: 30px;
      }
    }
  }

  .block_inputs .total_time p {
    width: 140px;
    text-align: center;
  }
}

@media (max-width: 346px) {
  .block_inputs .field input {
    width: 110px;
  }

  .block_inputs {
    margin: 16px 0;

    .field {
      .inp_time input {
        width: 24px;
      }
    }
  }
}
