@import "../../styles/variables";
@import "../../styles/mixins";

.block_Settings {
  width: 96vw;
  margin: 20px auto;
  display: flex;
  gap: 20px;
  .nav {
    border-radius: 20px;
    width: 18%;
    display: flex;
    flex-direction: column;
    background-color: $dark-color;

    a {
      color: white;
      text-decoration: none;
      padding: 30px;
      transition: background-color $transition;

      &:hover {
        background-color: $darkShadow-color;
      }
      &:first-child {
        border-radius: 20px 20px 0 0;
      }
    }

    div {
      color: $red-color;
      padding: 30px;
      transition: background-color $transition;
      cursor: pointer;
    }

    .active {
      background-color: $darkShadow-color;
    }
  }

  .mainBlock {
    min-height: 80vh;
    border-radius: 20px;
    width: 82%;
    height: max-content;
    background-color: $dark-color;

    .content {
      margin: 60px 50px;
    }
  }
}

@media (max-width: 1082px) {
  .block_Settings {
    width: 96vw;
    margin: 20px auto;
    gap: 10px;
    .nav {
      border-radius: 20px;
      width: 20%;

      a {
        padding: 30px 16px;
      }

      div {
        padding: 30px 16px;
      }
    }
  }
}

@media (max-width: 921px) {
  .block_Settings {
    flex-direction: column;

    .nav {
      width: 100%;
      flex-direction: row;
      height: 40px;
      align-items: center;
      border-radius: 10px 10px 0 0;

      a,
      div {
        text-align: center;
        height: 100%;
        padding: 0 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        background-color: $dark-color;
        border-bottom: 2px solid $dark-color;
        &:first-child{
          border-radius: 10px 0px 0 0;
        } 
        &:last-child {
          border-radius: 0px 10px 0 0;
        }
      }

      a:hover {
        background-color: $dark-color;
        border-bottom: 2px solid $accent_color;
      }

      .active {
        background-color: $dark-color;
        border-bottom: 2px solid $accent_color;
      }
    }

    .mainBlock {
      width: 100%;
    }
  }
}

// @media (max-width: 723px) {
//   .block_Settings {
//     .nav {
//       flex-direction: column;
//       border-radius: 20px;

//       .line1,
//       .line2 {
//         width: 100%;
//         height: 100px;
//         padding: 0;
//         margin: 0;

//         &:first-child {
//           margin: 0;
//         }

//         a,
//         div {
//           height: 100%;
//           padding: 0;
//           padding: 0 12px;
//           border-radius: 20px 20px 0 0;

//           &:first-child,
//           &:last-child {
//             margin: 0;
//           }
//         }
//       }

//       .line2 {
//         &:first-child {
//           margin: 0 0 0 18px;
//         }
//       }
//     }
//   }
// }

@media (max-width: 552px) {
  .block_Settings{
    .nav{
      height: 60px;
    }
    .mainBlock .content {
      margin: 36px 26px;
    }
  } 
}

// @media (max-width: 492px) {
//   .block_Settings {
//     margin: 20px auto;
//     gap: 6px;
//     border-radius: 10px;
//     .nav {
//       border-radius: 20px;
//       width: 40%;

//       a {
//         padding: 30px 10px;
//       }
//     }
//   }
// }
