@import "../../styles/variables";
@import "../../styles/mixins";

.button1,
.button2,
.button3 {
  border: 2px solid $accent-color;
  display: inline-block;
  height: 54px;
  width: max-content;
  padding: 0 140px;
  border-radius: 18px;
  transition: $transition;
  color: white;
  cursor: pointer;

  @include center();
}

.button1 {
  background-color: $accent-color;
  top: 0px;
  position: relative;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 0px 0px $accentShadow-color;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -10px;
      height: 10px;
    }
  }
}

.button2 {
  background-color: rgba(#000000, 0);
  &:hover {
    background-color: $accent-color;
  }
}

.button3 {
  border: 2px solid $perfect-color;
  &:hover {
    background-color: $perfect-color;
  }
}

.blocked_button {
  opacity: 0.6;
  cursor: auto;

  &:hover {
    transform: translateY(0px);
    box-shadow: 0px 0px 0px 0px $accentShadow-color;
  }
}

@media (max-width: 1100px) {
  .button1,
  .button2,
  .button3 {
    height: 40px;
    border-radius: 16px;

    @include center();
  }

  .button1 {
    &:hover {
      box-shadow: 0px 6px 0px 0px $accentShadow-color;
      transform: translateY(-6px);

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -6px;
        height: 6px;
      }
    }
  }
}

@media (max-width: 700px) {
  .button1,
  .button2,
  .button3 {
    height: 34px;
    border-radius: 12px;

    @include center();
  }
}
