@import "../../styles/variables";
@import "../../styles/mixins";

.block_createFormat1 {
  margin: 40px 0 240px 0;
  @include center();

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $dark-color;
    border-radius: 20px;
    width: 1400px;
    padding: 0 0 40px 0;

    h1 {
      font-size: $font-large;
      margin: 30px 0 0 0;
    }

    p {
      margin: 18px 0 42px 0;
      width: 60%;
      text-align: center;
    }

    .days {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .block_inputs {
        margin: 34px 100px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        p {
          margin: 0;
          text-align: left;
        }

        .total_time {
          border: 2px solid $base-color;
          height: 60px;
          @include center();

          border-radius: 20px;
        }

        .field {
          display: flex;
          gap: 12px;

          input {
            width: 280px;
          }

          .inp_time {
            display: flex;
            align-items: flex-end;
            gap: 6px;

            p {
              margin: 0;
              width: max-content;
            }
            input {
              padding: 0;
              text-align: center;
              width: 60px;
            }
          }

          .hours {
            opacity: 1;
          }

          .minutes {
            opacity: 1;
          }
        }
      }
    }

    .button_block {
      width: calc(100% - 210px);
      a {
        color: white;
        text-decoration: none;
        margin: 100px 0 0 0;
      }
    }
  }
}

@media (max-width: 1450px) {
  .block_createFormat1 {
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $dark-color;
      border-radius: 20px;
      width: 700px;
      padding: 0 0 40px 0;
    }
  }
}


@media (max-width: 734px) {
  .block_createFormat1 {
    .content {
      width: 400px;

      h1{
        width: 300px;
        text-align: center;
      }

      .days {
  
        .block_inputs {
          margin: 34px 0;
          display: flex;
          flex-direction: column;
          gap: 20px;
  
          p {
            margin: 0;
            text-align: left;
          }
  
          .field {
            display: flex;
            gap: 8px;
  
            input {
              width: 130px;
            }
          }
        }
      }

      .button_block {
        width: calc(100% - 70px);
        a {
          color: white;
          text-decoration: none;
          margin: 100px 0 0 0;
        }
      }
    }
  }
}
